[global]
repo1-path={{ pgbackrest_backup_path }}
repo1-retention-full={{ pgbackrest_retention_full }}
log-path={{ pgbackrest_log_path }}
log-level-console=info
log-level-file=debug
start-fast=y
delta=y

[{{ pgbackrest_stanza_name }}]
pg1-path={{ postgres_data_dir }}
{% if postgres_replication_role == 'standby' %}
pg1-host={{ groups['postgres_master'][0] }}
pg1-host-user=postgres
pg1-host-type=replica
{% endif %}