# Replication Configuration
wal_level = replica
max_wal_senders = {{ postgres_max_wal_senders }}
max_replication_slots = {{ postgres_max_replication_slots }}
wal_keep_segments = {{ postgres_wal_keep_segments }}
hot_standby = on