#!/bin/bash
set -e

# Khai báo đường dẫn đầy đủ từ Ansible
PG_BIN_DIR="{{ '/usr/pgsql-' + postgres_version + '/bin' if is_redhat_based else '/usr/lib/postgresql/' + postgres_version + '/bin' }}"
PGDATA="{{ postgres_data_dir }}"

echo "Promoting standby to master..."
if [ -f "$PG_BIN_DIR/pg_ctl" ]; then
    $PG_BIN_DIR/pg_ctl -D $PGDATA promote
else
    echo "Error: pg_ctl not found in $PG_BIN_DIR"
    exit 1
fi
