# ------------------------------------------------------------------------------
# NODE CONFIGURATION
# ------------------------------------------------------------------------------
node_id={{ ansible_host.split('.')[-1] }}
node_name='{{ inventory_hostname }}'
conninfo='host={{ ansible_host }} user={{ postgres_replication_manager.user }} password={{ postgres_replication_manager.password }} dbname=repmgr connect_timeout=2'
data_directory='{{ postgres_data_dir }}'
replication_type='physical'

# ------------------------------------------------------------------------------
# SSH CONFIGURATION (Sửa lỗi "user ''" và "SSH failed")
# ------------------------------------------------------------------------------
ssh_options='-q -o ConnectTimeout=10 -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'

# ------------------------------------------------------------------------------
# AUTO FAILOVER CONFIGURATION
# ------------------------------------------------------------------------------
failover=automatic
promote_command='/usr/bin/repmgr standby promote -f {{ postgres_config_path }}/repmgr.conf --log-to-file'
follow_command='/usr/bin/repmgr standby follow -f {{ postgres_config_path }}/repmgr.conf --log-to-file --upstream-node-id=%n'

# ------------------------------------------------------------------------------
# MONITORING & TIMEOUTS
# ------------------------------------------------------------------------------
reconnect_attempts=6
reconnect_interval=10
monitoring_history=yes

# ------------------------------------------------------------------------------
# SERVICE CONTROL (SWITCH-OVER)
# ------------------------------------------------------------------------------
service_start_command   = 'sudo /usr/bin/systemctl start postgresql'
service_stop_command    = 'sudo /usr/bin/systemctl stop postgresql'
service_restart_command = 'sudo /usr/bin/systemctl restart postgresql'
service_reload_command  = 'sudo /usr/bin/systemctl reload postgresql'

pg_bindir='/usr/lib/postgresql/{{ postgres_version }}/bin'

# ------------------------------------------------------------------------------
# LOGGING
# ------------------------------------------------------------------------------
log_level=INFO
log_facility=STDERR

