[Unit]
Description=Elasticsearch Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/elasticsearch_exporter \
  --es.uri={{ es_uri }} \
  --web.listen-address=:{{ es_exporter_port }} \
  {% if es_exporter_skip_ssl %}--es.ssl-skip-verify{% endif %} \
  --es.all \
  --es.indices

[Install]
WantedBy=multi-user.target
