//
// named.conf
//
// Provided by Red Hat bind package to configure the ISC BIND named(8) DNS
// server as a caching only nameserver (as a localhost DNS resolver only).
//
// See /usr/share/doc/bind*/sample/ for example named configuration files.
//

options {
  listen-on port 53    { 0.0.0.0; };
  listen-on-v6 port 53 { none; };
  directory 	       "/var/named";
  dump-file 	       "/var/named/data/cache_dump.db";
  secroots-file	       "/var/named/data/named.secroots";
  recursing-file       "/var/named/data/named.recursing";
  statistics-file      "/var/named/data/named_stats.txt"; 
  memstatistics-file   "/var/named/data/named_mem_stats.txt";
  zone-statistics      {{ enable_zone_statistics | default("yes") }};
  allow-query { 
    {% for subnet in internal_subnets | default([]) %}
    {{ subnet }};
    {% endfor %}
    localhost; 
  };
  allow-recursion {
    {% for subnet in internal_subnets | default([]) %}
    {{ subnet }};
    {% endfor %}
    localhost; 
  };
  
  /* 
   - If you are building an AUTHORITATIVE DNS server, do NOT enable recursion.
   - If you are building a RECURSIVE (caching) DNS server, you need to enable 
     recursion. 
   - If your recursive DNS server has a public IP address, you MUST enable access 
     control to limit queries to your legitimate users. Failing to do so will
     cause your server to become part of large scale DNS amplification 
     attacks. Implementing BCP38 within your network would greatly
     reduce such attack surface 
  */
  forwarders {
    {% for entry in internet_dns_resolvers | default([]) %}
    {{ entry }}
    {% endfor %}
  };
  forward only;
  
  recursion yes;
  dnssec-validation auto;
  
  managed-keys-directory "/var/named/dynamic";
  geoip-directory "/usr/share/GeoIP";
  
  pid-file "/run/named/named.pid";
  session-keyfile "/run/named/session.key";
};

logging {
  // Access log
  channel named_syslog {
    syslog daemon;
    severity info;
    print-time yes;
    print-severity yes;
    print-category yes;
  };
  category default { named_syslog; };
  category queries { named_syslog; };
  category security { named_syslog; };
  category lame-servers { null; };
  
  // Statistic log
  channel statistics {
    file "/var/named/data/named_stats.log" versions 3 size 5m;
    severity info;
    print-time yes;
    print-category yes;
  };
  category statistics { statistics; };
};

include "/etc/zones.conf";
