#cloud-config

package_update: true
package_upgrade: true

# APT fails to acquire GPG keys if package dirmngr is missing
bootcmd:
  - [ cloud-init-per, once, dirmngr-aptupdate, apt-get, update ]
  - [ cloud-init-per, once, dirmngr-aptinstall, apt-get, install, dirmngr, -y ]
  - [ cloud-init-per, once, dirmngr-aptinstall, apt-get, install, gnupg2, -y ]

packages:
  - qemu-guest-agent
  - unzip

updates:
  network:
    when: ['boot']

growpart:
  mode: auto
  devices: ["/"]
  ignore_growroot_disabled: false

users:
  - name: devops
    passwd: "$6$kW4vfBM9kGgq4hr$TFtHW7.3jOECR9UCBuw9NrdSMJETzSVoNQGcVv2y.RqRUzWDEtYhYRkGvIpB6ml1fh/fZEVIgKbSXI9L1B6xF."
    lock_passwd: false
    groups: sudo, users, admin
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
  - name: ${username}
    lock_passwd: false
    groups: sudo, users, admin
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${pubkey}

write_files:
  - content: |
      #!/bin/bash
      # Download from GitLab
      curl -H "PRIVATE-TOKEN: ${access_token}" 									\
           -L "https://${artifact_host}/api/v4/projects/${project_id}/repository/archive.tar.gz?sha=${tag}" 	\
           -o /tmp/playbook.tar.gz

      # Decompress infrastructure config
      base64 -d /tmp/inventory.json.gz | gunzip > /tmp/inventory.json

      # Decompress and setup playbook
      if tar -xzf /tmp/playbook.tar.gz -C /tmp; then
        if ! mv $(find /tmp -name '${artifact_project}-*') /tmp/playbook; then
          exit -1
        fi
      fi

      # Decompress and setup bootloader
      base64 -d /tmp/bootloader.sh.gz | gunzip > /tmp/init.sh
      chmod +x /tmp/init.sh
    path: /tmp/decompress.sh
    permissions: '0755'
  - content: |
      ${inventory}
    path: /tmp/inventory.json.gz
  - content: |
      ${bootloader_sh_content}
    path: /tmp/bootloader.sh.gz
  - content: |
      ${privkey}
    path: /tmp/id_rsa.base64
  - content: |
      ${pubkey}
    path: /tmp/id_rsa.pub

runcmd:
  - systemctl start qemu-guest-agent
  - bash /tmp/decompress.sh
  - bash /tmp/init.sh ${bootloader_arguments_in_str}
  - rm -fr /tmp/init.sh

preserve_hostname: false
manage_etc_hosts: false
fqdn: ${fqdn}
