oracle.install.responseFileVersion=/oracle/install/rspfmt_crsinstall_response_schema_v19.0.0
INVENTORY_LOCATION={{ oracle_inventory }}
oracle.install.option=CRS_CONFIG
ORACLE_BASE={{ grid_base }}
ORACLE_HOME={{ grid_home }}
oracle.install.asm.OSDBA=asmdba
oracle.install.asm.OSOPER=asmoper
oracle.install.asm.OSASM=asmadmin
oracle.install.crs.config.gpnp.scanName={{ scan_name }}
oracle.install.crs.config.gpnp.scanPort={{ scan_port }}
oracle.install.crs.config.clusterName={{ oracle_cluster_name }}
oracle.install.crs.config.networkInterfaceList={{ private_network.interface }}:{{ private_network.subnet }}:1,{{ public_network.interface }}:{{ public_network.subnet }}:2
oracle.install.crs.config.storageOption=LOCAL_ASM_STORAGE
oracle.install.asm.diskGroup.name=OCR
oracle.install.asm.diskGroup.redundancy=NORMAL
oracle.install.crs.config.autoConfigureClusterNodeVIP=true
oracle.install.crs.config.clusterNodes={% for node in oracle_cluster_nodes %}{{ node.name }}:{{ node.name }}-vip{% if not loop.last %},{% endif %}{% endfor %}
oracle.install.crs.config.networkInterfaceList={{ private_network.interface }}:{{ private_network.subnet }}:1,{{ public_network.interface }}:{{ public_network.subnet }}:2