appender.syslog.type = Syslog
appender.syslog.name = SYSLOG
appender.syslog.format = RFC5424
appender.syslog.host = localhost
appender.syslog.port = 514
appender.syslog.protocol = UDP
appender.syslog.facility = LOCAL5
appender.syslog.appName = elasticsearch  # Recommended
appender.syslog.newLine = true           # Adds \n at end

rootLogger.level = info
rootLogger.appenderRefs = syslog
rootLogger.appenderRef.syslog.ref = SYSLOG
