log_file = {{ audit_log_path }}
log_format = RAW
log_group = root
priority_boost = 4
flush = INCREMENTAL
freq = 50
num_logs = {{ audit_num_logs }}
disp_qos = lossy
dispatcher = /sbin/audispd
name_format = NONE
max_log_file = {{ audit_max_log_file }}
max_log_file_action = {{ audit_max_log_file_action }}
space_left = {{ audit_space_left }}
space_left_action = {{ audit_space_left_action }}
admin_space_left = {{ audit_admin_space_left }}
admin_space_left_action = {{ audit_admin_space_left_action }}
disk_full_action = SUSPEND
disk_error_action = SUSPEND