# Basic settings
listen_addresses = '{{ pgpool_listen_address }}'
port = {{ pgpool_port }}
socket_dir = '{{ pgpool_socket_dir }}'
pid_file_name = '{{ pgpool_run_dir }}/pgpool.pid'
logdir = '{{ pgpool_log_dir }}'

# Connection pooling
num_init_children = {{ pgpool_num_init_children }}
max_pool = {{ pgpool_max_pool }}
child_life_time = {{ pgpool_child_life_time }}
connection_life_time = {{ pgpool_connection_life_time }}
client_idle_limit = {{ pgpool_client_idle_limit }}

# Backend settings
{% for backend in pgpool_backends %}
backend_hostname{{ loop.index0 }} = '{{ backend.host }}'
backend_port{{ loop.index0 }} = {{ backend.port }}
backend_weight{{ loop.index0 }} = {{ backend.weight }}
backend_data_directory{{ loop.index0 }} = '{{ backend.data_directory }}'
{% endfor %}

# Load balancing and replication
load_balance_mode = {{ pgpool_load_balance_mode }}
master_slave_mode = {{ pgpool_master_slave_mode }}
master_slave_sub_mode = '{{ pgpool_master_slave_sub_mode }}'

# Authentication
enable_pool_hba = {{ pgpool_enable_pool_hba }}
pool_passwd = '{{ pgpool_pool_passwd }}'