[defaults]
timeout            = 300
roles_path         = ./roles
callback_plugins   = plugins
remote_tmp         = /tmp/.ansible-${USER}/tmp


[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=600s -o ConnectTimeout=300
