$FileCreateMode 0600

if $programname == '{{ program_name }}' then {
    action(
        type="omfile"
        file="{{ log_path }}"
        FileCreateMode="0600"
        FileOwner="root"
        FileGroup="root"
    )
    stop
}
